.sidenav{
    width: 200px;
    height: 475px;
    background-color: #1f1b80;
    margin-top: 100px;
    margin-left: 100px;


}
.dropbox{
    width: 77px;
    height: 56px;
    margin-left: 56px;
    margin-top: 14px;
}
.navfctns i{
    color: white;
    display: flex;
    margin-left: 44px;
    margin-top: 11px;

}
.views{
    color: aliceblue;
}
.fa fa-file-text-o{
    color: aliceblue;
}
